#listBarang {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4 {
    flex: 0 0 calc(33.3333% - 20px);
    max-width: calc(33.3333% - 20px);
    margin: 10px; 

@media (max-width: 992px) { 
    .col-4 {
        flex: 0 0 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 730px) {
    .col-4 {
        flex: 0 0 calc(100% - 20px); 
        max-width: calc(100% - 20px);
    }
}
